<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Alicia_D_v5_6_leader_arx">
  <mujoco>
    <compiler meshdir="../../meshes/Alicia_D_v5_6/arx" balanceinertia="true" discardvisual="false" />
    <contact>
      <exclude body1="base_link" body2="link1"/>
      <exclude body1="link1" body2="link2"/>
      <exclude body1="link2" body2="link3"/>
      <exclude body1="link3" body2="link4"/>
      <exclude body1="link4" body2="link5"/>
      <exclude body1="link5" body2="link6"/>
    </contact>
  </mujoco>
  <link name="world"/>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00906097731690366 0.00729624666988852 -9.57458819395018E-07"
        rpy="0 0 0" />
      <mass
        value="0.686438268035788" />
      <inertia
        ixx="0.00109731987518565"
        ixy="2.39024007301229E-06"
        ixz="9.0151989317631E-08"
        iyy="0.00177959294757712"
        iyz="4.52538878351816E-08"
        izz="0.000970530036697331" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="world_fixed" type="fixed">
    <origin xyz="0 0 0" rpy="1.5708 0 0" />
    <parent link="world" />
    <child link="base_link" />
  </joint>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-0.00016524675880162 0.000294744692466785 0.0256606098792122"
        rpy="0 0 0" />
      <mass
        value="0.045739977477124" />
      <inertia
        ixx="6.39646044643265E-06"
        ixy="-1.58894185448336E-10"
        ixz="-1.11494878421076E-07"
        iyy="1.30939586044581E-05"
        iyz="-1.81543300978861E-08"
        izz="1.13025525908196E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0.0448 0"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.9656"
      upper="2.9656"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="-0.104419646939892 0.00219030525244353 4.87943002199995E-05"
        rpy="0 0 0" />
      <mass
        value="0.152608321825774" />
      <inertia
        ixx="2.91802115079083E-05"
        ixy="-5.31430169937297E-07"
        ixz="-2.73093169020778E-07"
        iyy="0.000137628076667407"
        iyz="1.31437584320206E-08"
        izz="0.000130473243005249" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 -0.0009 0.04841"
      rpy="1.5708 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="0"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.0989767112978903 0.00409280608480556 -0.000185463698812997"
        rpy="0 0 0" />
      <mass
        value="0.112441385533658" />
      <inertia
        ixx="2.87855396205515E-05"
        ixy="3.54474383796544E-06"
        ixz="-9.7508522154408E-09"
        iyy="6.76047315204021E-05"
        iyz="-1.29331080606909E-08"
        izz="5.99384417758183E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="-0.1893 0.027753 -0.0003"
      rpy="0 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="0"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.0390151364166154 0.0294354730833042 -0.000265100520579487"
        rpy="0 0 0" />
      <mass
        value="0.0728790310641603" />
      <inertia
        ixx="3.93588014106892E-05"
        ixy="1.289846851353E-05"
        ixz="1.90862287812361E-07"
        iyy="5.14756481527347E-05"
        iyz="1.20740392947345E-07"
        izz="4.40999676998912E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.18791 0.00403 3E-05"
      rpy="0 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.355"
      upper="0.785"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="0.00730651190734828 9.68527341697889E-05 0.0279112262230514"
        rpy="0 0 0" />
      <mass
        value="0.0497669997048517" />
      <inertia
        ixx="1.72315165365857E-05"
        ixy="7.41652207898774E-09"
        ixz="1.67841258686816E-06"
        iyy="1.39052679635451E-05"
        iyz="7.37422984675224E-08"
        izz="1.3276976131454E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0.056471 0.021474 -0.00018156"
      rpy="1.5708 0 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="-0.000602432391332682 0.00144197310014112 0.0738657034577136"
        rpy="0 0 0" />
      <mass
        value="0.16331007308822" />
      <inertia
        ixx="0.000125044443317893"
        ixy="-4.39535534778796E-08"
        ixz="1.84090008487581E-07"
        iyy="0.000109043253807779"
        iyz="-7.44247888983297E-07"
        izz="4.17330067977656E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0.02695 0.00014 0.04691"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.9656"
      upper="2.9656"
      effort="5"
      velocity="10" />
  </joint>
  <link name="tool0">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="green_virtual_sphere_material">
        <color rgba="0 1 0 1" />
      </material>
    </visual>
  </link>
  <joint name="tool0_fixed_joint" type="fixed">
    <origin xyz="0 0 0.05" rpy="0 0 0" />
    <parent link="link6" />
    <child link="tool0" />
    <axis xyz="0 0 0" />
  </joint>
</robot>
