<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="alicia_m_v1_2_follower_arx">
<mujoco>
     <compiler meshdir="../../meshes/Alicia_M_v1_2/arx" balanceinertia="true" discardvisual="false" />
    <contact>
      <exclude body1="base_link" body2="link1"/>
      <exclude body1="link1" body2="link2"/>
      <exclude body1="link2" body2="link3"/>
      <exclude body1="link3" body2="link4"/>
      <exclude body1="link4" body2="link5"/>
      <exclude body1="link5" body2="link6"/>
      <exclude body1="link6" body2="link7"/>
      <exclude body1="link6" body2="link8"/>
      <exclude body1="link7" body2="link8"/>
    </contact>
  </mujoco>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00193539010965921 -1.74230249967277E-06 0.0332634061347417"
        rpy="0 0 0" />
      <mass
        value="1.30948144128201" />
      <inertia
        ixx="0.00360590159768243"
        ixy="-1.08129895251216E-07"
        ixz="-2.35047758891865E-05"
        iyy="0.00197240280342693"
        iyz="-2.99401525018141E-08"
        izz="0.0047602449918857" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-0.000703329118381842 -0.000725761598149965 0.0322654317970053"
        rpy="0 0 0" />
      <mass
        value="0.243059269381487" />
      <inertia
        ixx="0.000108903078227379"
        ixy="-2.41596129750841E-07"
        ixz="-7.39154131703305E-08"
        iyy="8.60971364681025E-05"
        iyz="1.78823932493326E-07"
        izz="9.85300374214474E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0.0086095 0 0.09725"
      rpy="0 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.7475"
      upper="2.7475"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="-0.149853787544004 0.00662693760981006 0.00573137993614051"
        rpy="0 0 0" />
      <mass
        value="0.370825547442299" />
      <inertia
        ixx="0.000114897131230609"
        ixy="-4.30506970056311E-05"
        ixz="-1.59444886968034E-06"
        iyy="0.000559581593316824"
        iyz="2.91860628944751E-07"
        izz="0.000607781807676739" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0.0039812 0 0.0425"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="3.14"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.107561202118017 0.0219944133028176 0.00295889335391269"
        rpy="0 0 0" />
      <mass
        value="0.684506224399253" />
      <inertia
        ixx="0.000204010332513591"
        ixy="9.5144297380046E-06"
        ixz="-2.18576875175756E-07"
        iyy="0.000236882874687899"
        iyz="-1.60362501486264E-07"
        izz="0.00028429966379758" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="-0.28184 0.040424 0"
      rpy="0 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="0"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="-0.0596853244038868 0.0531909817242608 -0.00410586977430829"
        rpy="0 0 0" />
      <mass
        value="0.315728889586979" />
      <inertia
        ixx="0.000107220815970443"
        ixy="-5.59652794292565E-06"
        ixz="1.82962238224816E-07"
        iyy="0.000144295902481789"
        iyz="-4.24735379210411E-07"
        izz="0.000104802346555908" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.17842 0.028546 0"
      rpy="-3.1416 0 3.1416" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="0.000131281374751973 0.0107819225535444 0.0364778044266441"
        rpy="0 0 0" />
      <mass
        value="0.392709523715002" />
      <inertia
        ixx="0.000108733898303013"
        ixy="-2.31185098041429E-07"
        ixz="-9.72271415455507E-08"
        iyy="0.000149864300714519"
        iyz="2.70257022968543E-07"
        izz="0.000113485822765383" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="-0.063 0.034 -0.0036562"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="0.000534443461952145 0.0156120171022355 0.044283154757122"
        rpy="0 0 0" />
      <mass
        value="0.460840761441095" />
      <inertia
        ixx="0.000120818483051381"
        ixy="-2.99120781995188E-06"
        ixz="1.89315449376103E-07"
        iyy="0.000196070441627847"
        iyz="2.23719214377243E-06"
        izz="0.000243304810165708" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="8.4179E-05 0.029 0.040304"
      rpy="-1.5708 0 -0.0029027" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.791"
      upper="2.791"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="link7">
    <inertial>
      <origin
        xyz="0.010399791190057 0.000201865405247498 0.0426786128975296"
        rpy="0 0 0" />
      <mass
        value="0.0249330633936771" />
      <inertia
        ixx="8.28577275125693E-06"
        ixy="-9.75946158138801E-08"
        ixz="1.26901313737515E-06"
        iyy="6.57073588553003E-06"
        iyz="8.06152086066294E-09"
        izz="5.20430598280663E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger"
    type="prismatic">
    <origin
      xyz="-0.049964 0.0018931 0.1415"
      rpy="-3.1416 -0.010646 3.1416" />
    <parent
      link="link6" />
    <child
      link="link7" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.05"
      upper="0"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="link8">
    <inertial>
      <origin
        xyz="0.0113060860366536 0.000201866386515259 0.0424475276829149"
        rpy="0 0 0" />
      <mass
        value="0.0249330541832031" />
      <inertia
        ixx="8.23034804955969E-06"
        ixy="-9.74008552662031E-08"
        ixz="1.33345402008754E-06"
        iyy="6.57073281536473E-06"
        iyz="1.01370567333969E-08"
        izz="5.25972514422183E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link8.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link8.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_finger"
    type="prismatic">
    <origin
      xyz="0.049964 -0.0018931 0.1415"
      rpy="3.1416 0.010646 0" />
    <parent
      link="link6" />
    <child
      link="link8" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.05"
      upper="0"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="tool0">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material
        name="green_virtual_sphere_material">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
  </link>
  <joint
    name="tool0_fixed_joint"
    type="fixed">
    <origin
      xyz="0 0 0.15"
      rpy="0 0 0" />
    <parent
      link="link6" />
    <child
      link="tool0" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
