<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="alicia_m_v1_2_follower_arx">
<mujoco>
     <compiler meshdir="../../meshes/Alicia_M_v1_2/arx" balanceinertia="true" discardvisual="false" />
    <contact>
      <exclude body1="base_link" body2="link1"/>
      <exclude body1="link1" body2="link2"/>
      <exclude body1="link2" body2="link3"/>
      <exclude body1="link3" body2="link4"/>
      <exclude body1="link4" body2="link5"/>
      <exclude body1="link5" body2="link6"/>
      <exclude body1="link6" body2="link7"/>
      <exclude body1="link6" body2="link8"/>
      <exclude body1="link7" body2="link8"/>
    </contact>
  </mujoco>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00193539010965904 -1.7423024960897E-06 0.0332634061347435"
        rpy="0 0 0" />
      <mass
        value="1.2877" />
      <inertia
        ixx="0.00360590159768243"
        ixy="-1.08129895254488E-07"
        ixz="-2.35047758891753E-05"
        iyy="0.00197240280342693"
        iyz="-2.9940152483947E-08"
        izz="0.0047602449918857" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="base_link.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="base_link.stl" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.000725761566410354 -0.00070332903750077 0.0322654316996862"
        rpy="0 0 0" />
      <mass
        value="0.5406" />
      <inertia
        ixx="8.60971368275955E-05"
        ixy="2.4159592829293E-07"
        ixz="-1.78823965269809E-07"
        iyy="0.000108903078309028"
        iyz="-7.39153338989125E-08"
        izz="9.85300379068909E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link1.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link1.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0.0086095 0 0.09725"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.7475"
      upper="2.7475"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="-0.149860644283753 -0.00135016246435844 0.0065504926379744"
        rpy="0 0 0" />
      <mass
        value="0.579389297158098" />
      <inertia
        ixx="0.000114897030328543"
        ixy="1.59446640202943E-06"
        ixz="-4.29892615483335E-05"
        iyy="0.000607781807255436"
        iyz="-2.70166383000689E-07"
        izz="0.000559581693579404" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link2.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link2.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 -0.0004 0.0425"
      rpy="0 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.14"
      upper="0"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.130110609703952 0.00138696638489249 0.0221992248566273"
        rpy="0 0 0" />
      <mass
        value="0.706595565442677" />
      <inertia
        ixx="0.000206204558582122"
        ixy="2.20289356736807E-07"
        ixz="9.51414684637866E-06"
        iyy="0.000357607463529135"
        iyz="1.60362604460057E-07"
        izz="0.000310187846178511" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link3.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link3.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="-0.28185 0 0.040324"
      rpy="0 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.14"
      upper="0"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.0595173949293079 0.00045489952530637 0.0532622905022223"
        rpy="0 0 0" />
      <mass
        value="0.31793009090046" />
      <inertia
        ixx="9.4778073813604E-05"
        ixy="1.33562928856649E-07"
        ixz="2.26660249787698E-06"
        iyy="9.90951588131395E-05"
        iyz="-1.93550833534319E-07"
        izz="0.000129073330726604" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link4.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.890196078431372 0.890196078431372 0.913725490196078 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link4.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.21842 0 0.028546"
      rpy="0 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="0.00851946173309248 1.55672356317647E-05 -0.0360716115399312"
        rpy="0 0 0" />
      <mass
        value="0.351145554017841" />
      <inertia
        ixx="0.00013645788001024"
        ixy="-1.6847277093824E-08"
        ixz="-4.97107061228617E-07"
        iyy="0.000104132711531521"
        iyz="1.16246210108747E-07"
        izz="0.000104483067665529" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link5.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link5.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0.063 0.000675 0.034"
      rpy="0 0 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="0.0442831547531375 -5.70491636627262E-05 0.0156210580326444"
        rpy="0 0 0" />
      <mass
        value="0.4188" />
      <inertia
        ixx="0.000243304810264379"
        ixy="1.04474261521444E-07"
        ixz="2.2427560541651E-06"
        iyy="0.000120700015251707"
        iyz="-1.3545025141632E-07"
        izz="0.000196188909808756" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link6.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.890196078431372 0.890196078431372 0.913725490196078 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link6.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0.03 0 -0.040304"
      rpy="0 0 0" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-2.791"
      upper="2.791"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="link7">
    <inertial>
      <origin
        xyz="-0.0425654819739622 -0.0108534144520767 -0.000209221179166746"
        rpy="0 0 0" />
      <mass
        value="0.0274" />
      <inertia
        ixx="5.23167268473472E-06"
        ixy="1.30093990846986E-06"
        ixz="4.01857631687577E-08"
        iyy="8.26336248926451E-06"
        iyz="3.33702342123055E-08"
        izz="6.565775854648E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link7.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link7.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint7"
    type="prismatic">
    <origin
      xyz="0.1415 -0.05 0"
      rpy="0 0 0" />
    <parent
      link="link6" />
    <child
      link="link7" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-0.05"
      upper="0"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="link8">
    <inertial>
      <origin
        xyz="-0.0425654819739627 0.0108534144520535 0.000209221179164304"
        rpy="0 0 0" />
      <mass
        value="0.0274" />
      <inertia
        ixx="5.23167268473455E-06"
        ixy="-1.30093990846967E-06"
        ixz="-4.01857631687268E-08"
        iyy="8.26336248926472E-06"
        iyz="3.33702342122686E-08"
        izz="6.56577585464803E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link8.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link8.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint8"
    type="prismatic">
    <origin
      xyz="0.1415 0.05 0"
      rpy="0 0 0" />
    <parent
      link="link6" />
    <child
      link="link8" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0.05"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="tool0">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material
        name="green_virtual_sphere_material">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
  </link>
  <joint
    name="tool0_fixed_joint"
    type="fixed">
    <origin
      xyz="0.1375 0 0"
      rpy="0 1.5707963 0" />
    <parent
      link="link6" />
    <child
      link="tool0" />
    <axis
      xyz="0 0 0" />
  </joint>
  <!-- <link
    name="marker">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material
        name="green_virtual_sphere_material">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
  </link>
  <joint
    name="marker_fixed_joint"
    type="fixed">
    <origin
      xyz="0.10148 -0.0005 0.02365"
      rpy="0 0 1.5708" />
    <parent
      link="link6" />
    <child
      link="marker" />
    <axis
      xyz="0 0 0" />
  </joint> -->
</robot>