<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="alicia_m_v1_2_follower_arx_px6d">
<mujoco>
     <compiler meshdir="../../meshes/Alicia_M_v1_2/arx_px6d/" balanceinertia="true" discardvisual="false" />
    <contact>
      <exclude body1="base_link" body2="link1"/>
      <exclude body1="link1" body2="link2"/>
      <exclude body1="link2" body2="link3"/>
      <exclude body1="link3" body2="link4"/>
      <exclude body1="link4" body2="link5"/>
      <exclude body1="link5" body2="link6"/>
      <exclude body1="link6" body2="link7"/>
      <exclude body1="link6" body2="link8"/>
      <exclude body1="link7" body2="link8"/>
    </contact>
  </mujoco>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00193539010965899 -1.74230249609057E-06 0.0332634061347435"
        rpy="0 0 0" />
      <mass
        value="1.30948144128201" />
      <inertia
        ixx="0.00360590159768243"
        ixy="-1.08129895254486E-07"
        ixz="-2.35047758891753E-05"
        iyy="0.00197240280342693"
        iyz="-2.99401524839474E-08"
        izz="0.0047602449918857" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="base_link.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="base_link.stl" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.000725761566410354 -0.000703329037500778 0.0322654316996902"
        rpy="0 0 0" />
      <mass
        value="0.243059270540488" />
      <inertia
        ixx="8.60971368275956E-05"
        ixy="2.41595928292934E-07"
        ixz="-1.78823965269801E-07"
        iyy="0.000108903078309028"
        iyz="-7.39153338989191E-08"
        izz="9.8530037906891E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link1.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link1.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0.0086095 0 0.09725"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.7475"
      upper="2.7475"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="-0.149118165158236 -0.00579362645179921 -0.000730062775444759"
        rpy="0 0 0" />
      <mass
        value="0.579389297158098" />
      <inertia
        ixx="0.000390594891956628"
        ixy="0.000174452082189362"
        ixz="1.0839882462014E-06"
        iyy="0.00252153893915618"
        iyz="2.54906816815848E-07"
        izz="0.00247149215733171" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link2.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link2.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 -0.0004 0.0425"
      rpy="-1.5708 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="0"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.130110609704031 0.0221992248566483 -0.00138696638487267"
        rpy="0 0 0" />
      <mass
        value="0.706595565443392" />
      <inertia
        ixx="0.000206204558582279"
        ixy="9.51414684631146E-06"
        ixz="-2.20289356838329E-07"
        iyy="0.000310187846178725"
        iyz="-1.60362604378872E-07"
        izz="0.000357607463529271" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link3.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link3.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="-0.28185 -0.040324 0"
      rpy="3.1416 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="0"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.0549905116996923 0.0491049231981875 -0.000234291108909687"
        rpy="0 0 0" />
      <mass
        value="0.365110913723452" />
      <inertia
        ixx="0.000109568682360206"
        ixy="6.33360668668156E-06"
        ixz="1.00428775679378E-07"
        iyy="0.000151377306231763"
        iyz="4.32640891483201E-07"
        izz="0.000120476850307935" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link4.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.890196078431372 0.890196078431372 0.913725490196078 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link4.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.21842 0.028546 0"
      rpy="0 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="0.00851946176573454 -1.5567231985242E-05 0.0360716115651664"
        rpy="0 0 0" />
      <mass
        value="0.351145554712444" />
      <inertia
        ixx="0.000136457880066092"
        ixy="1.68472987609197E-08"
        ixz="4.97107162574186E-07"
        iyy="0.000104132711774586"
        iyz="1.16246223406556E-07"
        izz="0.000104483067856697" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link5.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link5.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0.063 0.034 -0.000675"
      rpy="1.5708 0 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="0.00023936573049646 6.9323047903021E-05 0.0586860219376042"
        rpy="0 0 0" />
      <mass
        value="0.6038" /> <!-- no camera: 0.504336757553032, camera: 99.8g -->
      <inertia
        ixx="0.000224828972098793"
        ixy="8.99728850531267E-08"
        ixz="-1.65859800030713E-07"
        iyy="0.00014835022400572"
        iyz="-1.11748491500834E-07"
        izz="0.000303464134940435" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link6.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.890196078431372 0.890196078431372 0.913725490196078 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link6.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0.0300000000000271 0 0.0403039405042227"
      rpy="0 1.5707963267949 0" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.791"
      upper="2.791"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="link7">
    <inertial>
      <origin
        xyz="-0.042565481973819 0.00020922117916608 -0.0108534144520651"
        rpy="0 0 0" />
      <mass
        value="0.0274" />
      <inertia
        ixx="5.23167268473463E-06"
        ixy="-4.0185763168749E-08"
        ixz="1.30093990846976E-06"
        iyy="6.56577585464801E-06"
        iyz="-3.33702342123177E-08"
        izz="8.26336248926462E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link7.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link7.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint7"
    type="prismatic">
    <origin
      xyz="0 0.05 0.17531"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="link6" />
    <child
      link="link7" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-0.05"
      upper="0"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="link8">
    <inertial>
      <origin
        xyz="0.0425654819738188 -0.000209221179164887 -0.010853414452065"
        rpy="0 0 0" />
      <mass
        value="0.0274" />
      <inertia
        ixx="5.23167268473462E-06"
        ixy="-4.01857631687091E-08"
        ixz="-1.30093990846976E-06"
        iyy="6.56577585464802E-06"
        iyz="3.3370234212278E-08"
        izz="8.26336248926462E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link8.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link8.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint8"
    type="prismatic">
    <origin
      xyz="0 -0.05 0.17531"
      rpy="0 1.5708 1.5708" />
    <parent
      link="link6" />
    <child
      link="link8" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.05"
      effort="5"
      velocity="10" />
  </joint>
  <link
    name="tool0">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material
        name="green_virtual_sphere_material">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
  </link>
  <joint
    name="tool0_fixed_joint"
    type="fixed">
    <origin
      xyz="0 0 0.1735"
      rpy="0 0 0" />
    <parent
      link="link6" />
    <child
      link="tool0" />
    <axis
      xyz="0 0 0" />
  </joint>
  <!-- <link
    name="marker">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material
        name="green_virtual_sphere_material">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
  </link>
  <joint
    name="marker_fixed_joint"
    type="fixed">
    <origin
      xyz="0.02365 0.000 0.13748"
      rpy="-1.5708 0 1.5708" />
    <parent
      link="link6" />
    <child
      link="marker" />
    <axis
      xyz="0 0 0" />
  </joint> -->
</robot>
